@font-face {
    font-family: Poppins;
    src: url(css\Poppins-Regular.ttf);
}

/* Container for player info section */
content{
    font-family: 'Poppins', 'sans-serif';
}

content h3 {
    color: blue;
}

content h3 {
    color: yellow;
}


