.profile-container{
    padding-left: 127px;
    padding-right: 127px;
    margin-top: 85px;
    /* border: 10px solid white;  */
} 

.profile-box{
    border: 0.35em solid #FF0F00;
    width: 20%;
    height: 30%;
    border-radius: 5%;
    text-align: center;
    margin:auto;
    margin-bottom: 5%;
    transition: transform .4s;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* margin:auto; */
}

.profile-box:hover{
    transform: scale(1.3);
    transform-origin: 50% 50%;
  }
  

.profile-img{
    width: 100%;
    height: 100%;

}