/* *{
    margin: 0;
    padding: 0;
} */

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


body{
    background-image: url("../images/bg.png");
    background-size: cover;
    font-family: 'Poppins';
    background-repeat: no-repeat;
}


.navbar-local{
    height: 15%;
    margin-top: -30px;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
    /* border: solid 2px blue; */

}

.navbar-local .container-local{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

.navbar-local a{
    text-decoration: none;
    color: whitesmoke;

}

.container-local{
padding-right: 36%;
padding-top: 2%;
margin-left: 20px;
padding-bottom: 20px;
}

.navbar-local ul{
    display: flex;
}
.navbar-local ul li{
    margin-left: 40px;
}

.logo-local{
    margin-top: 0px;
    display: flex;
}

.logobox-local{
    margin-left: 7%;
    margin-right: 7%;

}

.links-local{
    /* background-color: burlywood; */
    padding-top: 16px;
    color: white;
}

ul{
    list-style: none;
    padding-top: 12px;
}

h3{
    color: white;
}


#login{
    width: 112px;
    height: 52px;
    background: linear-gradient(132.37deg, #FF0F00 21.59%, #B45C57 104.34%);
    border-radius: 6px;
    margin-top: -15px;
    margin-left: 200px;
    font-family: 'Poppins';
    color: whitesmoke;
}

p{
    color: #D23B32;
    font-weight: 600;
    font-size: 18px;
}

.content-box-local{
    margin: auto;
    margin-top: 200px;
    margin-bottom: 15%;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#standings{
    padding: 0px 119px;
    margin-top: 100px;
    /* padding-top: 0px;
    margin-top: 0px; */
    
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: whitesmoke;
}

.p-white{
    color: whitesmoke;
    font-weight: 100;
    font-size: 18px;
    line-height: 28px;
}

#question-button{
    width: 156px;
    height: 50px;
    background: #131313;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.long-button{
    width: 145px;
    height: 54px;
    background: linear-gradient(132.37deg, #FF0F00 21.59%, #B45C57 104.34%);
    border-radius: 6px;
    font-family: 'Poppins';
    color: #FFFFFF
}

.login-box{
    background-color: #D9D9D9;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    text-align: center;
}

.login-box h1{
    color: #131313;
    padding-top: 20px;
}

input{
    width: 335px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid;

}

select{
    width: 350px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid;
    font: 'Poppins';
    padding-right: 100px;

}
#fixtures-box{ 
    padding: 2% 117px;
    margin-top: 0px; 
    /* border: 2px solid white; */
}

.box-1{
    width: 1130px;
    height: 230px;
    background-color: #D9D9D9;
    border-radius: 64px;
    margin-bottom: 40px;
;
    /* padding: 20px; */
}



#league-table {
    font-family: Poppins;
    font-weight: 600;
    font-size: 23px;
    border-collapse: collapse;
    width: 100%;
    color:#4A4747;
  }
  
  #league-table td, #league-table th {
    /* border: 1px solid white; */
    padding: 8px;
  }
  
  #league-table tr:nth-child(even){background-color: #D1D9D3;}
  #league-table tr:nth-child(odd){background-color: white;}
  
  #league-table tr:hover {background-color: #ddd;}
  
  #league-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#EE1F12;
    color: white;
  }


.login-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.login-container .left{
    height: 100%;
    width: 50%;
    background-image: url(../images/login-img.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.login-container .right{
    height: 100%;
    width: 50%;

}


.login-text{
    font-size: 40px;
    padding-left: 119px;
    line-height: 65px;

}

.left .login-text{
    margin-top: 300px;
}

.right .login-text{
    margin-top: 107px;
    color:#EE1F12;
}
#back2home{
    background: linear-gradient(132.37deg, #FF0F00 21.59%, #B45C57 104.34%);
    border: none;
    margin-left: 119px;
}  


.right .p-white{
    padding-left: 119px;
}

.right input{
    margin-left: 119px;
    background:none;
    border: 1px solid white;
}

label .p-white{
    line-height: 0px;
}

.right .long-button{
    width: 358px;
    margin-left: 119px;
    height: 60px;
}

.modal-title{
    text-align: center!important;
    color: #131313;
}

/* .close{
    display: inline-block;
    float: right;
} */
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 

}

.modal-content{
    background: #D9D9D9!important;
}

#profile-img{
    width: 60%;
    height: 60%;
    margin-left: 95px;
    margin-top: 90px;
}


.profile-top{
    display: flex;
}

.profile-left{
    margin-right: -80px;
}
.profile-right h1{
    margin-top: 120px;

}

#hr{
    margin-top: -38px;
    border: 2px solid red;
    width: 900px;
}

.profile-bottom p{
    margin-left: 119px;
    line-height: 60px;
}

.profile-bottom span{
    color: white;
}

.one{
    font-size: 200px;

}

#bar{
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .navbar-local li{display:none;}
    #bar{
        visibility: visible;
        margin-right: 20px;
    }
    
    .content-box-local{
        margin-top: 150px;
    }

    h1{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: whitesmoke;
    }

    p{
        font-size:15px;

    }

    .p-white{
        font-size: 15px;
    }

    #question-button{
        display:none;
    }

    .content-box-local .long-button{
        display: none;

    }

    #fixtures-box{
        padding-left: 49px;
    }

    #standings{
        padding-left: 49px;

    }

    #fixtures-box h1{
        font-size: 20px;
    }

    .box-1{
        width: 300px;
        height: 150px;
        border-radius: 40px;

    }

    .box-1 img{
        width: 80px;
        height: 80px;
    }

    .box-1 h1, .box-1 h2{
        font-size: 10px;
    }

    #standings h1{
        font-size: 20px;
    }

    #league-table th, #league-table tr{
        font-size: 10px;
        
    }
    


}
