
@font-face { font-family: Poppins; 
    src: url('Poppins-Regular.ttf'); 
} 

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* rect{
    fill:blue;
    stroke:#EE1F12;
    stroke-width:5;
    fill-opacity:0.1;
    stroke-opacity:0.9;
    border-radius: 20%;
    
} */

/* Style for stat boxes */
p.StatBox{
    border-style: solid;
    border-radius: 2%;
    padding: 5em 1em 5em;
    margin: 1.5em
    
}

.All-Stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .Stat {
    width: 20em;
    margin-bottom: 30px;
    padding: 1em 2em 1em 1em;
  }

  /*Page title Style*/
  #Page-Title{
    color: whitesmoke;
    padding: 0em 0em 0em 7.2em;
  }

  /*Style for round images*/
  .Stats-Pic{
    display: flex;
    border-radius: 70%;
    max-width: 50%;
    max-width: 50%;
    margin: -65% 0% 50% 25%;;

    
  }

  .Stat-Info{
    color: white;
    margin: auto;

  }

  .Stat-Title{
    font-size: 5em;
    margin: 0em 0.6em 0em 0.6em;
  }

  .Stat-Name{
    margin: 0em 5em 0em 5em;
  }

  .Stat-Holder{
    
    font-size: 2rem;
    text-align: center;
   
  }

body{
    background-image: url("../images/bg.png");
    background-size: cover;
    font-family: 'Poppins';
    background-repeat: no-repeat;
}


.navbar-local{
    height: 15%;
    margin-top: -30px;
    position: fixed; /*Set the navbar to fixed position */
    width: 100%;

}

.navbar-local .container-local{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

.navbar-local a{
    text-decoration: none;
    color: whitesmoke;

}

.container-local{
padding-right: 36%;
padding-top: 2%;
margin-left: 20px;
padding-bottom: 20px;
}

.navbar-local ul{
    display: flex;
}
.navbar-local ul li{
    margin-left: 40px;
}

.logo-local{
    margin-top: 0px;
    display: flex;
}

.logobox-local{
    margin-left: 7%;
    margin-right: 7%;

}

.links-local{
    /* background-color: burlywood; */
    padding-top: 16px;
    color: white;
    align-items: center;
}

ul{
    list-style: none;
    padding-top: 12px;
}

h3{
    color: white;
}


#login{
    width: 112px;
    height: 52px;
    background: linear-gradient(132.37deg, #FF0F00 21.59%, #B45C57 104.34%);
    border-radius: 6px;
    margin-top: -15px;
    margin-left: 200px;
    font-family: 'Poppins';
    color: whitesmoke;
}


.content-box-local{
    margin: auto;
    margin-top: 200px;
    width: 50%;
    padding: 10px;
    text-align: center;
}



h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: whitesmoke;
}

.p-white{
    color: whitesmoke;
    font-weight: 100;
    font-size: 18px;
    line-height: 28px;
}

#question-button{
    width: 156px;
    height: 50px;
    background: #131313;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}








  